html{
    font-family: 'Poppins', sans-serif;
}
.bg-light {
    background: #fff !important;
}

.navBar-Link-ml {
    margin-left: 72px;
}

@media screen and (max-width:600px) {
    .navBar-Link-ml {
        margin-left: 10px;
    }
}

.navbar-nav .nav-item .nav-link {
    font-family: 'Poppins', sans-serif;
}

.book-btn {
    width: 170px;
    height: 54px;
    border-radius: 27px;
    border: 2px solid #f66f4d;
    color: #f66f4d;
}

.book-btn:hover {
    background: #fff;
    border: 2px solid #f66f4d;
    color: #f66f4d;
}

/* Banner Area */

.banner_title {
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    font-weight: bold;
    color: #2d3134;
    line-height: 75px;
}

.banner_text {
    font-size: 18px;
    color: #5b5f62;
}

.location {
    width: 520px;
    height: 100px;
    padding:  25px;
    box-shadow: 0px 28px 56px -6px rgba(246, 111, 77, .4);
    border-radius: 50px;
    background: #FDFEFF;
}

.location .location_title {
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
}
.location .location_input{
    width: 130px;
    font-size: 12px;
    border: 0px;
    outline: 0px;
    color: #9498A4;
}
.location .location_input::placeholder{
    color: #9498A4;
}
.location .search-icon{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: #f66f4d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cursor-pointer{
    cursor: pointer;
}
.not-allowed{
    cursor: not-allowed;
}
.column-1 img{
    width: auto;
}
.icon{
    color: #f66f4d;
}
/* Slider Area */

.categories{
    font-weight: bold;
    font-size: 36px;
}
.scale-1{
    cursor: pointer;
}
.scale-1 img{
    width: 100px;
    height: 100px;
}
.scale-1:hover{
    transform: scale(1.1);
    filter: contrast(2);
    transition: .5s ease-in-out;
}